<header>
	<h1>代办列表</h1>
	{{input class="form-control im" placeholder="输入代办内容,按Enter添加" enter="addTodo" escape-press="cancelAdd"}}
</header>

<ul class="todo-list list-unstyled">
	{{#each items as |item| }}
		{{m-todo record=item id=item.id title=item.title isCompleted=item.isCompleted}}
	{{/each}}
</ul>
