<section id="todoapp" class=" center-block">
    <header>
        <h4>代办列表</h4>
        {{m-add-todo}}
    </header>

    <ul class="todo-list list-unstyled">
        {{#each model as |item| }}
            {{m-todo record=item removeTodo=(action 'abc' item)}}
        {{/each}}
    </ul>
</section>
